<html>
  <head>
    <title>
      <%= title%>
    </title>

    <body>

      <% for (let i of contact_items){ %>
        <h1>Name: <%= i.name%></h1>
        <h2>Phone: <%= i.phone %></h2>
      <% } %>
    	<!-- <h1>from main file</h1> -->
    </body>
  </head>
</html>