<html>
  <head>
    <title>
      <%= title%>
    </title>

    <body>

      <% for (let i of contact_items){ %>
        <h1>Name: <%= i.name%></h1>
        <h2>Phone: <%= i.phone %></h2>
      <% } %>

      <!-- Form to Add Data -->

      <form action="/contact_path" method="POST">
        <input type="name" name="name" placeholder="Enter Name" required>
        <input type="number" name="phone" placeholder="Enter Phone number" required>
        <button type="submit">Add Contact </button>    
      </form>

    </body>
  </head>
</html>